NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# Database
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=nestjs_graphql

# GraphQL
GRAPHQL_PLAYGROUND=false
GRAPHQL_INTROSPECTION=true
GRAPHQL_PATH=/graphql